@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
}


.slider-track {
  background-color: white;
}

.slider-range {
  background-color: white;
}

.slider-thumb {
  background-color: white;
  border: 1px solid #e2e8f0; /* Add slight border for visibility */
}


